<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}">
    <link rel="stylesheet" href="../static/css/footer.css" th:href="@{css/footer.css}">
    <title>GameShow</title>
</head>
<body>
 <header><h1>GameShow</h1></header>
 <main>
     <h2>Pick one of the Gifts Below</h2>
     <p>
         <img th:src="@{|images/Gift.png|}" width="400" height="500">
         <img th:src="@{|images/Gift.png|}" width="400" height="500">
         <img th:src="@{|images/Gift.png|}" width="400" height="500">
         <!--/*-->
         <img src="../images/Gift.png" width="400" height="500">
         <img src="../images/Gift.png" width="400" height="500">
         <img src="../images/Gift.png" width="400" height="500">
         <!--*/-->
     </p>

 </main>
 <footer>
     Dulan Wasala
 </footer>
</body>
</html>