<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}">
    <link rel="stylesheet" href="../static/css/footer.css" th:href="@{css/footer.css}">
    <title>GameShow</title>
</head>
<body>
<header><h1>GameShow</h1></header>
<main>
    <h2>These are the Gifts</h2>
    <div id="Gifts">
        <img th:each="gift: ${giftData.gifts}"
             th:src="@{|images/Gifts/Gift_${gift}.png|}"
             width="200"
             height="200"
             >
        <!--/*-->
        <img src="../static/images/Gift.png" width="200" height="200">
        <img src="../static/images/Gift.png" width="200" height="200">
        <img src="../static/images/Gift.png" width="200" height="200">
        <!--*/-->
    </div>
    <form >
        <input type="submit" value="Play Again">
    </form>
</main>
<footer>
 Dulan Wasala
</footer>
</body>
</html>